<div class="container">
    <hr>
    <% history.forEach(function (transaction, index){ %>
        <div>
            <div class="row">
                <div class="col">
                    <p><b>Payment ID:</b> <%= transaction.paymentId %> </p>
                    <p><b>Address:</b> <%= transaction.address %> </p>
                </div>
                <div class="col">
                    <% transaction.items.forEach(function(product, index){ %> 
                        <p><b>Product ID (Variant ID):</b> <%= product.productId %> (<%= product.variant.productId %>)</p>
                        <% for(const variation in product.variant.variation_values){ %>
                            <p><b><%= variation %>:</b> <%= product.variant.variation_values[variation] %> </p>
                        <% } %> 
                        <p><b>Price:</b> <%= product.variant.price %> x <%= product.quantity %> = <%= product.quantity*product.variant.price %> USD</p>
                        <hr>
                    <% }) %> 
                </div>
            </div>
            <hr>
        </div>
    <% }) %> 
</div>