<div class="container">
    <h1>ORDER</h1>
    <hr>
    
    <div class="row">
        <div class="col">
            <p>Ordering by: <%= user.name %> </p>
            <p>Email: <%= user.email %> </p>
            <p>Address: </p>
            <textarea class="form-control" name="address" id="address" rows="3" style="width: 500px; resize:none" placeholder="Address..."></textarea>
        </div>
        <div class="col">
            <% var total = 0 %>
            <% cart.forEach(function (product, index){ %>
                <div>
                    <p><%= product.productId %></p>
                    <p>Variations: <%= product.variant.variation_values.color %> <%= product.variant.variation_values.size %></p>
                    <p>Price: <%= product.variant.price %> x <%= product.quantity %> = <%= product.quantity*product.variant.price %> USD</p>
                    <% total += product.quantity*product.variant.price %>
                    <hr>
                </div>
            <% }) %> 
        </div>
    </div>
    
    <div class="row">
        <div class="col">
            <p>Total: <%= total %> USD</p>
        </div>
        <div class="col">
            <form class="d-flex" action="/order" method="POST">
                <input type="hidden" name="address" id="addressId" value="default address">
                <input type="hidden" name="sum" value="<%= total %>">
                <button class="btn btn-primary" type="submit">Order</button>
            </form>
        </div>
    </div>
    <hr>
</div>

<script>
    var addr = $('textarea#address').val()
    document.getElementById('addressId').value = addr
</script>