<div class="container">
    <h1>ORDER</h1>
    <hr>
    <% if(typeof alert != 'undefined'){ %> 
        <% alert.forEach(function(error,index){ %> 
            <div class="alert alert-warning" role="alert">
                <%= error.msg %> 
            </div>
        <% }) %> 
    <% } %> 
    <div class="row">
        <div class="col">
            <% var total = 0 %>
            <% cart.forEach(function (product, index){ %>
                <div>
                    <p><%= product.productId %></p>
                    <p>Variations: <%= product.variant.variation_values.color %> <%= product.variant.variation_values.size %></p>
                    <p>Price: <%= product.variant.price %> x <%= product.quantity %> = <%= product.quantity*product.variant.price %> USD</p>
                    <% total += product.quantity*product.variant.price %>
                    <hr>
                </div>
            <% }) %> 
        </div>
        <div class="col">
            <p>Ordering by: <%= user.name %> </p>
            <p>Email: <%= user.email %> </p>
            <div class="col"></div>
                <form action="/order" method="POST">
                    <label for="address" class="sr-only">Address:</label>
                    <input name="address" type="text" id="address" class="form-control" placeholder="Address" required="" autofocus="">
                    <input type="hidden" name="sum" value="<%= total %>">
                    <br>
                    <button class="btn btn-primary" type="submit">Order</button>
                </form>
            </div>
        </div>
    </div>
    <div class="container" style="right: 0px">
        <p><b>Total: <%= total %> USD</b></p>
    </div>
    <hr>
</div>
