<%- include('../misc/breadcrumbs.ejs') %> 

<div class="container">
    <% categories.forEach(function(category, index){ %> 
        <!-- Root categories (clothing, accessory etc.) -->
        <% if(!params.parent){ %> 
           
            <hr>
            <img src="/images/<%= category.image %>" alt="women">
            <h2><%= category.name %></h2>
            <h3><%= category.page_title %></h3>
            <p><%= category.page_description %></p>
            <form action="/categories/<%= params.category %>/<%= category.id %>" method="GET">
                <button class="btn btn-outline-success" type="submit">View Products</button>
            </form>
           
        <!-- Root categories (clothing, accessory etc.) -->
        <% } else{ %> 
        <!-- Branch categories (clothing-jackets, accessory-ties etc.) -->
            
            <hr>
            <img src="/images/<%= category.image %>" alt="women">
            <h2><%= category.name %></h2>
            <h3><%= category.page_title %></h3>
            <p><%= category.page_description %></p>
            <form action="/categories/<%= params.parent %>/<%= params.category %>/<%= category.id %>" method="GET">
                <button class="btn btn-outline-success" type="submit">View Products</button>
            </form>
               
        <% } %>  
        <!-- Branch categories (clothing-jackets, accessory-ties etc.) -->
    <% }) %> 
</div>