<div class="container">
    <div class="row">
        <div class="col">
            <h1>CART</h1>
        </div>
        <div class="col">
            <form class="d-flex" action="/order" method="GET">
                <button class="btn btn-primary" type="submit">Order</button>
            </form>
        </div>
    </div>
    <% cart.forEach(function (product, index){ %>
        <hr>
        <div class="row">
            <div class="col">
                <% let imgflag = false %> 
                <% for(const images of product.info.image_groups){ %> 
                    <% if(typeof images.variation_value != 'undefined' && typeof product.actual.variant.variation_values.color != 'undefined' && images.view_type == 'large' && images.variation_value == product.actual.variant.variation_values.color){ %> 
                        <% imgflag = true %> 
                        <img src="/images/<%= images.images[0].link %>" alt="<%= images.images[0].alt %>">  
                    <% } %>
                <% } %> 
                <% if(!imgflag){ %>
                    <img src="/images/<%= product.info.image_groups[0].images[0].link %>" alt="<%= images.images[0].alt %>"> 
                <% } %>  
            </div>
            <div class="col">
                <h2><%= product.info.name %></h2>
                <br>
                <p><b>Variations:</b></p>
                <% for(const variation in product.actual.variant.variation_values){ %>
                    <p><b><%= variation %></b> - <%= product.actual.variant.variation_values[variation] %> </p>
                <% } %> 
                
                <p><b>Price: </b><%= product.actual.variant.price%> USD</p>
                <p><b>Quantity: </b><%= product.actual.quantity %></p>
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <form class="d-flex" action="cart/removeItem?_method=DELETE" method="POST">
                                    <input type="hidden" name="productId" value="<%= product.actual.productId %>">
                                    <input type="hidden" name="variantId" value="<%= product.actual.variant.product_id %>">
                                    <button class="btn btn-outline-danger" type="submit">Remove from cart</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <form class="d-flex" action="cart/changeItemQuantity" method="POST">
                            <input type="hidden" name="productId" value="<%= product.actual.productId %>">
                            <input type="hidden" name="variantId" value="<%= product.actual.variant.product_id %>">
                            <input type="hidden" name="quantity" value="<%= product.actual.quantity + 1 %>">
                            <button class="btn btn-outline-info" type="submit">Add one more to the cart.</button>
                        </form>

                        <form class="d-flex" action="cart/changeItemQuantity" method="POST">
                            <input type="hidden" name="productId" value="<%= product.actual.productId %>">
                            <input type="hidden" name="variantId" value="<%= product.actual.variant.product_id %>">
                            <input type="hidden" name="quantity" value="<%= product.actual.quantity - 1 %>">
                            <button class="btn btn-outline-info" type="submit">Remove one from the cart.</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    <% }) %> 
    <hr>
</div>