<header>
    <div class="container">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/categories">Categories</a></li>
            <li class="breadcrumb-item"><a href="#" id="prev_cat">
                <script>
                    var url = location.href
                    var url_parts = url.replace(/\/\s*$/,'').split('/')
                    document.write(url_parts[4].charAt(0).toUpperCase() + url_parts[4].slice(1))
                </script>
            </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Products</li>
            </ol>
        </nav>
        <script>
            var url = location.href
            var url_parts = url.replace(/\/\s*$/,'').split('/')
            var elem = document.getElementById('prev_cat')
            elem.setAttribute("href", "/categories/" + url_parts[4])
        </script>
    </div>
</header>

<div class="container">
    <h1>CART</h1>
    
    <% cart.items.forEach(function (product, index){ %>
        <hr>
        <h2><%- product.productId %> </h2>
        <p><%- product.variant.variation_values.color %> <%- product.variant.variation_values.size %></p>
        <p><%- product.variant.price %> USD</p>
        <p><%- product.quantity %></p>
        <div class="row">
            <div class="col">
                <form class="d-flex">
                    <button class="btn btn-outline-success" type="submit">Order</button>
                </form>
            </div>
            <div class="col">
                <form class="d-flex" action="cart/removeItem" method="DELETE">
                    <button class="btn btn-outline-danger" type="submit">Remove from cart</button>
                </form>
            </div>
        </div>
    <% }) %> 
    <hr>
</div>