<header>
    <div class="container">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/categories">Categories</a></li>
            <li class="breadcrumb-item"><a href="#" id="prev_cat">
                <script>
                    var url = location.href
                    var url_parts = url.replace(/\/\s*$/,'').split('/')
                    document.write(url_parts[4].charAt(0).toUpperCase() + url_parts[4].slice(1))
                </script>
            </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Products</li>
            </ol>
        </nav>
        <script>
            var url = location.href
            var url_parts = url.replace(/\/\s*$/,'').split('/')
            var elem = document.getElementById('prev_cat')
            elem.setAttribute("href", "/categories/" + url_parts[4])
        </script>
    </div>
</header>

<% products.forEach(function(product, index){ %> 
    <% if(!params.category){ %> 
        <div class="container">
            <hr>
            <div class="row">
                <div class="col-md">
                    <h4><%- product.page_title %> </h4>
                    <div class="row">
                        <div class="col">
                            <img src="/images/<%- product.image_groups[0].images[0].link %>" alt="<%- product.image_groups[0].images[0].alt %>">
                        </div>
                        <div class="col-6 align-self-start">
                            <p><%- product.page_description %> </p>
                            <label>Price</label>
                            <p><%- product.price %> <%- product.currency %></p>
                            <div style="float:right">
                                <form class="align-self-end" action="/categories/menswear/<%- params.category %>/<%- product.primary_category_id %>/<%- product.id %>" method="GET">
                                    <button class="btn btn-outline-primary" type="submit">Add to cart</button>
                                </form>
                            </div>
                            <div style="float:left">
                                <% if(product.primary_category_id.charAt(0) == 'm'){ %> 
                                    <% if(product.primary_category_id.charAt(5) == 'c'){ %> 
                                        <form class="align-self-end" action="/categories/menswear/mens-clothing/<%- product.primary_category_id %>/<%- product.id %>" method="GET">
                                            <button class="btn btn-outline-success" type="submit">View Product</button>
                                        </form>
                                    <% } else if(product.primary_category_id.charAt(5) == 'a'){%> 
                                        <form class="align-self-end" action="/categories/menswear/mens-accessories/<%- product.primary_category_id %>/<%- product.id %>" method="GET">
                                            <button class="btn btn-outline-success" type="submit">View Product</button>
                                        </form>
                                    <% } %> 
                                <% } else if (product.primary_category_id.charAt(0) == 'w') { %>
                                    <% if(product.primary_category_id.charAt(7) == 'c'){ %> 
                                        <form class="align-self-end" action="/categories/womenswear/womens-clothing/<%- product.primary_category_id %>/<%- product.id %>" method="GET">
                                            <button class="btn btn-outline-success" type="submit">View Product</button>
                                        </form>
                                    <% } else if(product.primary_category_id.charAt(7) == 'a'){%> 
                                        <form class="align-self-end" action="/categories/menswear/womens-accessories/<%- product.primary_category_id %>/<%- product.id %>" method="GET">
                                            <button class="btn btn-outline-success" type="submit">View Product</button>
                                        </form>
                                    <% } else if(product.primary_category_id.charAt(7) == 'j'){%>
                                        <form class="align-self-end" action="/categories/menswear/womens-jewelry/<%- product.primary_category_id %>/<%- product.id %>" method="GET">
                                            <button class="btn btn-outline-success" type="submit">View Product</button>
                                        </form>
                                    <% } %>  
                                <% } %>  
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <% } else{ %>
        <div class="container">
            <hr>
            <div class="row">
                <div class="col-md">
                    <h4><%- product.page_title %> </h4>
                    <div class="row">
                        <div class="col">
                            <img src="/images/<%- product.image_groups[0].images[0].link %>" alt="<%- product.image_groups[0].images[0].alt %>">
                        </div>
                        <div class="col-6 align-self-start">
                            <p><%- product.page_description %> </p>
                            <label>Price</label>
                            <p><%- product.price %> <%- product.currency %></p>
                            <div style="float:right">
                                <form class="align-self-end" action="/categories/menswear/<%- params.category %>/<%- product.primary_category_id %>/<%- product.id %>" method="GET">
                                    <button class="btn btn-outline-primary" type="submit">Add to cart</button>
                                </form>
                            </div>
                            <div style="float:left">
                                <% if(product.primary_category_id.charAt(0) == 'm'){ %> 
                                    <form class="align-self-end" action="/categories/menswear/<%- params.category %>/<%- product.primary_category_id %>/<%- product.id %>" method="GET">
                                        <button class="btn btn-outline-success" type="submit">View Product</button>
                                    </form>
                                <% } else if (product.primary_category_id.charAt(0) == 'w') { %>
                                    <form class="align-self-end" action="/categories/womenswear/<%- params.category %>/<%- product.primary_category_id %>/<%- product.id %>" method="GET">
                                        <button class="btn btn-outline-success" type="submit">View Product</button>
                                    </form>
                                <% } %>  
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <% } %>  
<% }) %> 