<%- include('../misc/breadcrumbs.ejs') %> 

<div class="container">
    <hr>
        <h2><%= product.name %> </h2>
        <div class="row">
            <div class="col">
                <img id="prod-img" src="/images/<%= product.image_groups[0].images[0].link %>" alt="<%= product.image_groups[0].images[0].alt %>">
            </div>
            <div class="col">
                <p><%= product.page_description %>.</p>
                <h4>Product variants:</h4>
                <% product.variation_attributes.forEach(function(variation, index){ %>
                    <h6><%= variation.name %> </h6>
                    <div class="container">
                        <% variation.values.forEach(function(value, index){ %>
                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                <label class="btn btn-primary">
                                    <% let tempLink %> 
                                    <% product.image_groups.forEach(function(img, index){ %>
                                        <% if(typeof img.variation_value != 'undefined' && img.view_type == 'large' && img.variation_value == value.value){ %> 
                                            <% tempLink = img.images[0].link %>
                                        <% } %>  
                                    <% }) %>  
                                    <input type="radio" onclick="getradval(this)" data-img="<%= tempLink %>" name="<%= variation.name %>" value="<%= value.value %>" id="<%= value.value %>" autocomplete="off" checked> <%= value.name %> 
                                </label>
                            </div>
                         <% }) %> 
                    </div>
                <% }) %>  
                <br>
                <label><%= product.price %> <%= product.currency %> </label>
                <br>
                <% if(product.variants != ''){ %>
                    <div style="float:left">
                        <form class="d-flex" action="/cart/addItem" method="POST">
                            <input type="hidden" name="productId" value="<%= product.id %>">
                            <input type="hidden" name="variantId" value="<%= product.variants[0].product_id %>">
                            <input type="hidden" name="quantity" value="1">
                            <button class="btn btn-outline-primary" type="submit">Add to cart</button>
                        </form>  
                    </div>
                    <div style="float:right">
                        <form class="d-flex" action="/wishlist/addItem" method="POST">
                            <input type="hidden" name="productId" value="<%= product.id %>">
                            <input type="hidden" name="variantId" value="<%= product.variants[0].product_id %>"> 
                            <input type="hidden" name="quantity" value="1">
                            <button class="btn btn-outline-info" type="submit">Add to wishlist</button>
                        </form>  
                    </div>
                <% }else{ %>
                    <div style="float:left">
                        <form class="d-flex">
                            <button class="btn btn-outline-primary" type="submit" disabled>Out of stock.</button>
                        </form>
                    </div>
                    <div style="float:right">
                        <form class="d-flex">
                            <button class="btn btn-outline-primary" type="submit" disabled>Out of stock.</button>
                        </form>
                    </div>
                <% } %>  
            </div>
        </div>
    <hr>
</div>

<script>
    function getradval(elem) {
        var docval = document.getElementById(elem.id).dataset.img
        if(docval != '')
            document.getElementById("prod-img").src = "/images/" + docval
        alert(elem.value)

    }
</script>