<div class="container">
    <% products.forEach(function (product, index){ %>
        <% if(product.id == params.product_id){ %> 
            <img src="/images/<%- product.image_groups[0].images[0].link %>" alt="<%- product.image_groups[0].images[0].alt %>">
            <h2><%- product.name %> </h2>
            <p><%- product.page_description %>.</p>
            <label><%- product.price %> <%- product.currency %> </label>
            <form class="d-flex">
                <button class="btn btn-outline-success" type="submit">Order</button>
            </form>
        <% } %> 
    <% }) %> 
</div>