<div class="container">
   
    <h1>WISHLIST</h1>

    <% wishlist.items.forEach(function (product, index){ %>
        <hr>
        <h2><%= product.productId %> </h2>
        <p>Variations: <%= product.variant.variation_values.color %> <%= product.variant.variation_values.size %></p>
        <p>Price: <%= product.variant.price %> USD</p>
        <p>Quantity: <%= product.quantity %></p>
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <form class="d-flex" action="wishlist/removeItem?_method=DELETE" method="POST">
                            <input type="hidden" name="productId" value="<%= product.productId %>">
                            <input type="hidden" name="variantId" value="<%= product.variant.product_id %>">
                            <button class="btn btn-outline-danger" type="submit">Remove from wishlist.</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col">
                <form class="d-flex" action="wishlist/changeItemQuantity" method="POST">
                    <input type="hidden" name="productId" value="<%= product.productId %>">
                    <input type="hidden" name="variantId" value="<%= product.variant.product_id %>">
                    <input type="hidden" name="quantity" value="<%= product.quantity + 1 %>">
                    <button class="btn btn-outline-info" type="submit">Add one more to the wishlist.</button>
                </form>

                <form class="d-flex" action="wishlist/changeItemQuantity" method="POST">
                    <input type="hidden" name="productId" value="<%= product.productId %>">
                    <input type="hidden" name="variantId" value="<%= product.variant.product_id %>">
                    <input type="hidden" name="quantity" value="<%= product.quantity - 1 %>">
                    <button class="btn btn-outline-info" type="submit">Remove one from the wishlist.</button>
                </form>
            </div>
        </div>
    <% }) %> 
    <hr>
</div>